    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }


    body {
        font-family: cursive;
        background-color: #dbd5d5;
        color: #333;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }

    .navbar {
        display: flex;
        background-color: rgba(0, 128, 128, 0.6);
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        z-index: 1000;
        backdrop-filter: blur(10px);
    }
    
    .nav-links a {
        color: #fff;
    }
    
    .logo {
        font-size: 32px;
        font-family: fantasy;
    }
    
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }
    
    .menu li:hover {
        background-color: #4c9e9e;
        font-size: larger;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    
    .menu li {
        padding: 5px 14px;
    }

    #home {
        margin-top: 50px;
        text-align: center;
        padding: 2em;
    }

    .dp{
        margin-top: 20px;
    }

    .dp img {
        width: 300px;
        border-radius: 20%;
        height: 300px;
        border-style: double;
        border-color: black;
        border-width: 10px;
    }

    hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    #about {
        padding: 2em;
    }

    .about-container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .info {
        max-width: 600px;
        margin: 0 auto;
        vertical-align: middle;
        font-size: 16px;
        line-height: 1.6;
    }
    
    .bio {
        width: 30%;
        margin-bottom: 2em;
        text-align: center; 
    }
    
    .bio span {
        font-weight: bold;
        margin-right: 0.5em;
    }
    
    .bio p {
        margin-bottom: 0.5em;
    }


    .education1{
        width: 30%;
    }
    .education1 li{
        list-style: disc;
    }
    .education1 ul{
        margin-left: 20px;
    }
    .education2{
        width: 30%;
        margin-top: 10px;
    }
    .education2 li{
        list-style: disc;
    }
    .education2 ul{
        margin-left: 20px;
    }

    #projects {
        padding: 2em;
    }

    .project {
        margin-bottom: 2em;
    }

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
        align-self: center;
        gap: 20px;

    }



    @keyframes slideInFromRight {
        0% {
            transform: translateX(50%);
            filter: blur(10px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            filter: blur(0);
            opacity: 1;
        }
    }



    .project-card {
        width: calc(30% - 20px);
        border: 2px solid #131313;
        border-style: ridge;
        box-shadow: 5px 5px 8px rgba(46, 49, 51, 0.75);
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        opacity: 0; 
        justify-content: center;
    }

    .project-card img {
        width: 100%;
        height: 300px;
        border-bottom: 2px solid #000000;
        border-radius: 8px;
    }

    .animated {
        animation: slideInFromRight 1.5s ease-out;
        opacity: 1; 
    }

    .content {
        padding: 15px;
    }

    .project-info {
        text-align: center;
        margin-top: 10px;
    }

    .project-info h3 {
        margin-bottom: 5px;
    }

    .project-link {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        
    }

    .project-link:hover {
        background-color: #0056b3;
    }

    #contact {
        padding: 2em;
    }

    .contactHeader{
        text-align: center;
    }
    
    form {
        max-width: 600px;
        margin: 0 auto;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
    }
    
    input,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }

    .copyright {
        text-align: center;
        background-color: #333; /* Background color */
        color: #fff; /* Text color */
        padding: 10px;
        height: 60px;
        margin-top: 80px;

    }