/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  .logo {
    font-size: 32px;
    font-family: fantasy;
  }
  
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    font-size: larger;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }

#home {
    text-align: center;
    padding: 2em;
}

.dp{
    margin-top: 20px;
}

.dp img {
    width: 200px;
    border-radius: 50%;
}


#about {
    padding: 2em;
    text-align: center; 
}

.aboutme {
    max-width: 600px;
    margin: 0 auto;
    vertical-align: middle;
}

.bio {
    margin-bottom: 2em;
}

.bio span {
    font-weight: bold;
    margin-right: 0.5em;
}

.education {

}

#projects {
    padding: 2em;
}

.project {
    margin-bottom: 2em;
}

#contact {
    text-align: center;
    padding: 2em;
}

  
